/* --------------------------  */
/* APP                         */
/* --------------------------  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #000;
    line-height: 1.5;
    text-align: justify;
 }

.wrapper {
    width: 100%;
    max-width: 2600px;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "sidebar header header header"
                         "sidebar contenido contenido contenido"
                         "sidebar contenido contenido contenido"
                         "footer footer footer footer";
}

.wrapper > div,
.wrapper .header,
.wrapper .contenido,
.wrapper .sidebar,
.wrapper .footer {
    background: #FFF;
    padding: 20px;
    /*border-radius: 4px;*/
}

.wrapper .header {
    grid-column-start: 2;
    grid-column-end: -1;
    background: #FFF;
    color: #FFF;
    grid-area: header;
    grid-row: span 1;
    max-height: 50px;
}

.wrapper .contenido {
    grid-area: contenido;
    background: #FFF;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row: span 2;
}

.wrapper .sidebar {
    grid-area: sidebar;
    background: #12203E;
    color: #FFF;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.wrapper .footer {
    background: #E5E5E5;
    color: rgb(0, 0, 0);
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: span 2;
}


.imag__header__title{
    max-width:70%;
    justify-content: center;
  }

.imag__usb{
    max-width:30%;
    justify-content: center;
  }


.imag__noaa{
    max-width: 10%;
    vertical-align: middle;
  }

.imag__nasa{
    max-width: 13%;
    vertical-align: middle;
  }

.imag__copernicus{
    max-width: 27%;
    vertical-align: middle;
  }

/* .imag__logo__usb{
    max-width: 10.8%;
    vertical-align: middle;
  }

.imag__venezuela{
    max-width: 11%;
    vertical-align: middle;
  } */

.header {
  display: grid;
  vertical-align: middle;
  grid-template-columns: repeat(2, 1fr);
}
.header .header__izquierda {
  justify-content: left;
  vertical-align: middle;
  text-align: left;
}
.header .header__derecha {
  justify-content: right;
  vertical-align: middle;
  text-align: right;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: left;
    text-align: left;
    grid-template-areas: "izquierda_vacio creadores repositorios enlaces"
                         "izquierda_vacio creadores repositorios enlaces"
                         "izquierda_vacio creadores repositorios enlaces";
}


/* --------------------------  */
/* HOME                        */
/* --------------------------  */

.wrapper__home .gif__imag{
    max-width: 50%;
    display:block;
    margin:auto;
  }

.wrapper__home .imag__ndvi{
    max-width: 45%;
    display:block;
    margin:auto;
  }

/* --------------------------  */
/* TEMPERATURA                 */
/* --------------------------  */
.graph__sst,
.graph__anomalias,
.graph__oni {
  max-width: 100%;
  max-height: 100%;
  font-size: 5%;
}

.out__tab__temp {
  max-width: 3fr;
  max-height: 2fr;
  overflow: auto;
}
/* --------------------------  */
/* PARK                        */
/* --------------------------  */

.graph__park{
  max-width: 100%;
  max-height: 100%;
}

.out__park__graf{
  max-width: 3fr;
  max-height: 2fr;
  overflow: auto;
}

.img__ndvi__espacial,
.img__precipitacion__espacial {
  width: 2fr;
  height: 2fr;
}


.contenido {
  overflow: auto;

}

@media screen and (max-width: 768px) {

  .wrapper {
        grid-template-areas: "sidebar header header"
                             "sidebar contenido contenido"
                             "sidebar contenido contenido"
                             "sidebar contenido contenido"
                             "footer footer footer";
    }
}